<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="wrapper">
		<form class="p-3 mt-3" (submit)="login()">
		<div *ngIf="authenticated==true" class="successMessage">Login Successful!</div>
		<div *ngIf="authenticated==false" class="errorMessage">Bad credentials</div>
			<div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="username" id="userName" placeholder="Username" [(ngModel)]="username"> </div>
			<div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="password"> </div> <button class="btn mt-3">Login</button>
		</form>
		<div class="text-center fs-6"><a href="#">Sign up</a></div>
	</div>
</body>
</html>



